body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #256d40;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin-die {
    animation-name: spin;
    animation-duration: .125s;
    animation-iteration-count: 45;
}

#dice-body {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-template-areas: "tl tc tr" "cl cc cr" "bl bc br";
    justify-items: center;
    align-items: center;
}

.dot {
    width: 22px;
    height: 22px;
    padding: 5px;
    border-radius: 100%;
    background-color: #000;
    display: none;
}

.show {
    display: block;
}

#tl {
    grid-area: tl;
}

#tc {
    grid-area: tc;
}

#tr {
    grid-area: tr;
}

#cl {
    grid-area: cl;
}

#cc {
    grid-area: cc;
}

#cr {
    grid-area: cr;
}

#bl {
    grid-area: bl;
}

#bc {
    grid-area: bc;
}

#br {
    grid-area: br;
}

#roll-btn {
    margin: 45px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    font-size: 1.3rem;
    padding: 10px;
    box-shadow: 0 2px 6px black;
    background-color: yellow;
    color: #000;
    outline: none;
}

    #roll-btn:active {
        background-color: red;
        color: #FFF;
        box-shadow: none;
        border: 1px solid white;
    }
